owls-navbar {
  display: block;
}

owls-uploader {
  flex: 1 1 auto;
}

owls-tickets {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  margin: 30px auto;
}
